$primaryColor: #6D7793; //lavendar color
$secondaryColor: #9099a2; //overcast color
$backgroundColor: #d5d5d5; //paper color
$otherColor: #96858F; //dusty color
$defaultFont: 'Courier New', Courier, monospace;