<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <title>Home</title>
</head>
<body>
    <main layout:fragment="main">
        <div class="searchBox">
            <div class="searchTitle">
                Search Torrentr
            </div>
            <div class="searchBar">
                <input id="searchQueryInput" type="text" placeholder="Input search query" autofocus/>
            </div>
            <div class="searchButton">
                <button type="submit" onclick="search()">Search</button>
            </div>
        </div>
    </main>
</body>
</html>