<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <title>Home</title>
</head>
<body>
<main layout:fragment="main">
    <div class="results">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Source</th>
                <th>Seeds</th>
                <th>Peers</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${results}">
                <td data-title="Title"><a th:href="${result.getMagnetLink()}" th:text="${result.getTitle()}"></a></td>
                <td data-title="Source"><a th:text="${result.getSource()}" th:href="${result.getInfoLink()}"></a></td>
                <td data-title="Seeds" th:text="${result.getSeeds()}"></td>
                <td data-title="Peers" th:text="${result.getPeers()}"></td>
                <td data-title="Size" th:text="${#numbers.formatDecimal(result.getSize(), 0, 2) + 'kb'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>